/* 
Colors used:
Background color: #080E21
Darkest blue: #007AA3
Middle blue: #0096C7
Bright blue: #00B4D8
Fluorescent: #48CAE4
White: #FFFFFF 
*/

/* 
Fonts used:
font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;

font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
*/

body {
    background-color: #080E21;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.1;
}

ol {
    color: #007AA3;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.1;
}

h1 {
    color: #48CAE4;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    line-height: 1.1;
}

h3 {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.1;
}

p {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    line-height: 1.1;
}

footer {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.1;
}

.copyright {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.1;
}

img {
    width: 100%;
}

a {
    color: #007AA3;
    text-decoration: none;
}

a:hover {
    color: #48CAE4;
    text-decoration: none;
}

a:active {
    color: #48CAE4;
}

a:focus {
    color:  #48CAE4;
}

.download_button {
    display: inline-block;
    background-color:#007AA3;
    font-family: Lato;
    font-weight: 700;
    font-size: 35px;
    padding: 36px 81px;
    border-radius: 25px;
    transition: 0.2s opacity;
    cursor: pointer;
}

.download_button:hover {
    background-color: #48CAE4;
}

.download_button:active {
    background-color: #48CAE4;
}

.submit_button {
    display: inline-block;
    background-color:#007AA3;
    font-family: Lato;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 49px;
    border-radius: 20px;
    transition: 0.2s opacity;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #48CAE4;
}

.submit_button:active {
    background-color: #48CAE4;
}

.contact_link {
    text-decoration: underline;
}

.contact_link:hover {
    text-decoration: underline;
}

.p_contact {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.1;
}

.contact_form {
    height: 100px;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}

.contact_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact_inputs {
    width: 828px;
    height: 100px;
    border-color: #007AA3;
    border-radius: 25px;
    border-width: 4px;
    padding-left: 40px;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    background-color: #080E21;
}

.contact_left textarea {
    height: 140px;
    padding-top: 32px;
    border-radius: 25px;
}

.contact_inputs:focus {
    border-color:#48CAE4
}

.contact_inputs::placeholder {
    color: #FFFFFF80
}